[submodule "vim/.vim/pack/bundle/start/vim-sensible"]
	path = vim/.vim/pack/bundle/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/pack/bundle/start/vim-sleuth"]
	path = vim/.vim/pack/bundle/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vim/.vim/pack/bundle/start/vim-surround"]
	path = vim/.vim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/pack/bundle/start/vim-commentary"]
	path = vim/.vim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/pack/bundle/start/vim-fugitive"]
	path = vim/.vim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/bundle/start/vim-markdown"]
	path = vim/.vim/pack/bundle/start/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/.vim/pack/bundle/start/vim-airline"]
	path = vim/.vim/pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/pack/bundle/start/vim-airline-themes"]
	path = vim/.vim/pack/bundle/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/.vim/pack/bundle/start/promptline"]
	path = vim/.vim/pack/bundle/start/promptline
	url = https://github.com/edkolev/promptline.vim
[submodule "vim/.vim/pack/bundle/start/tmuxline"]
	path = vim/.vim/pack/bundle/start/tmuxline
	url = https://github.com/edkolev/tmuxline.vim
[submodule "vim/.vim/pack/bundle/start/nerdtree"]
	path = vim/.vim/pack/bundle/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/pack/bundle/start/dracula"]
	path = vim/.vim/pack/bundle/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/.vim/pack/bundle/start/fzf"]
	path = vim/.vim/pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/.vim/pack/bundle/start/vim-polyglot"]
	path = vim/.vim/pack/bundle/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/.vim/pack/bundle/start/ale"]
	path = vim/.vim/pack/bundle/start/ale
	url = https://github.com/w0rp/ale.git
